<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyByL4QDAplPS-vCXZn_Fb1Y1xnWkDs9R14</string>
	<key>GCM_SENDER_ID</key>
	<string>828340040997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.f3.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>first-7eb96</string>
	<key>STORAGE_BUCKET</key>
	<string>first-7eb96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828340040997:ios:76648c366711d6920756cc</string>
</dict>
</plist>